<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean id="alien" class="com.example.Alien" scope="prototype"> -->
    <bean 
        id="alien" 
        class="com.example.Alien" 
        autowire="byType"
    >
        <!-- autowire="byType" -->
        <!-- autowire="byName" -->

        <!-- <constructor-arg value="21" />
        <constructor-arg ref="lap1" /> -->

        <!--   WITH type  -->

        <!-- <constructor-arg value="21" type="int"/>
        <constructor-arg ref="lap1" type="com.example.Laptop" /> -->

        <!--   WITH index  -->

        <!-- <constructor-arg ref="lap1" index="1" />
        <constructor-arg value="21" index="0" /> -->

        <!-- WITH name -->
        <!-- <constructor-arg ref="lap1" name="lap" /> -->
        <!-- <constructor-arg value="21" name="age" /> -->

        <!--  -->
        <property name="age" value="213"></property>
        <property name="comp" ref="desk"></property>
    </bean>

    <bean id="desk" class="com.example.Desktop">
    </bean>
    <bean id="lap1" class="com.example.Laptop" primary="true">
    </bean>
</beans>
